################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConsoleApp/obj
/ConsoleApp/ConsoleApp.sln
/ConsoleApp/ConsoleApp.csproj
/ConsoleApp/.vs/ConsoleApp
/.vs
/ConsoleApp/bin/Debug/net6.0
/Exercise/obj/Debug/net6.0
/Exercise/obj
/ConsoleApp/.vs/ProjectEvaluation
*.csproj
